.nav-container {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: gray;
    /* width: 200px; */
    overflow: auto;
}

.nav-container a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 20px;
    padding: 6px 5px;
}



li{
    float: left;
  
    
}

.nav-container a:hover{
    background-color: lightgreen;
    color: blue;
    font-weight: 600;
}