<p>nav works!</p>

<nav>
    <button type="button " class="btn btn-primary" routerLink="databinding">databinding</button>
    <button type="button"  class="btn btn-danger" routerLink="directives">directive</button>
    <button type="button" class="btn btn-warning" routerLink="angform">angForm</button>
    <button type="button" class="btn btn-secondary" routerLink="empdetail">empdetails</button>
    <button type="button" class="btn btn-secondary" routerLink="breakfast">Breakfast</button>
    <button type="button" class="btn btn-success" routerLink="products">CRUD</button>
</nav>
