.login-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    border:2px solid blue;
    width:300px;
    padding:12px;
    border-radius: 5px;
}

